.button_requestSave {
  border: none;
  background-color: #1c98eb;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 99rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button_requestSave:hover {
  background-color: color-mix(in srgb, #1c98eb 90%, blue);
}

.button_saved {
  border: none;
  background-color: #666666;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 99rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
