.textarea {
  resize: none;
  padding: 0.5rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
  min-height: 544px;
  max-height: none;
  width: 768px;
  border-radius: 1rem;
}

.previewArea {
  min-height: 544px;
  width: 768px;
  background: white;
  border-radius: 1rem;
  max-height: none;
}
