.bl_mdArea {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bl_bdArea__titleInput {
  height: 3rem;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 1.2rem;
  border-color: none;
  border: none;
  outline: none;
  background-color: #edf2f7;
}
