.bl-postBtn {
  width: fit-content;
  height: 36px;
  border-radius: 99rem;
  border: none;
  background-color: #1c98eb;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bl-postBtn:hover {
  background-color: color-mix(in srgb, #1c98eb 90%, blue);
}
