.bl_toggleSwitch {
  background: rgb(197, 197, 197);
  height: 27px;
  width: 46px;
  border: none;
  padding: 3px;
  border-radius: 99rem;
  position: relative;
  display: inline-block;
  transition: all 0.4s ease;
  cursor: pointer;
}

.bl_toggleSwitch::after {
  position: relative;
  display: block;
  width: 21px;
  height: 100%;
  content: "";
  left: 0px;
  background: white;
  border-radius: 99rem;
  transition: all 0.2s ease;
}

.--bg_active {
  background: rgb(147, 190, 255);
}

.--bg_active::after {
  left: calc(50% - 1px);
}
