.block_myArticleCard:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}

.block_myArticleCard {
  flex-direction: row;
  display: flex;
  padding: 0.9rem 0 1.2rem;
  justify-content: space-between;
  position: relative;
}
